<a href="https://colab.research.google.com/github/Triiplech4554/pyton_dataviz2023/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions($f(x) = y $)

```python
def function_name(input_x):
    # do something with input_x to get output_y
    return output_y
```

def = นิยามของฟังก์ชัน

$f_1(x)=x^2 + 75$

In [7]:
def function_f1(x):
    a = x**2   # ** = ยกกำลัง2
    y = a + 75
    return y
# codeที่เยื้องเป็นส่วนนหนึ่งของบรรทัดบนที่ไม่เยื้อง code
print('done!')

# code ที่อยู่ลำดับเดียวกันมีความสำคัญเท่ากัน

done!

In [8]:
function_f1(3) # ถ้า x เป็น 3

84

In [9]:
function_f1(9)

156

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input  _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output `return` _Output_(ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [10]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

### ตัวอย่าง function ที่ ไม่มี input
ทำงานเหมือนเดิมตลอด ค่าไม่เปลี่ยนแปลง

In [11]:
def pi_v():
    y = 3.14159265359
    return y

In [12]:
#หาพท.วงกลม รัศมี = 2/// สูตร  pi r^2   ผลลัพธ์เหมือนเดิม
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [13]:
def function_a():

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [14]:
   def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}') #กระบวนการว่าให้เเสดง ชื่อ

In [15]:
print_name_id('นัฐวดี','633020986-5')

ชื่อ นัฐวดี รหัสประจำตัว 633020986-5

In [16]:
a = print_name_id('นัฐวดี','633020986-5')

ชื่อ นัฐวดี รหัสประจำตัว 633020986-5

In [ ]:
a # เป็นช่องว่างเพราะ ไม่มีการ  return  ค่า

ตัวอย่าง function `print` https://www.programiz.com/python-programming/methods/built-in/print

print()  ใส่ input ได้หลายตัว
-   ** คือ จำเป็นต้องใส่
- = คือ ไม่จำเป็นต้องใส่ มีค่าตั้งต้นมาให้
- end คือ จบบรรทัด  \n คือด้วยการขึ้นบรรทัดใหม่
- sep คือ เว้นวรรคค่าด้วย ' ' คือ ช่องว่าง

In [17]:
print('นัฐวดี')
print('633020986-5')

นัฐวดี
633020986-5

In [18]:
print('นัฐวดี',end='->')  # end =  จบบรรทัดด้วย
print('633020986-5')

นัฐวดี->633020986-5

In [19]:
print('นัฐวดี','633020986-5',sep=' & ') # sep= กำหนดค่า = &

นัฐวดี & 633020986-5

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [21]:
def print_grade(name,id,grade = 'A'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')   # process ให้แสดง รหัส และชื่อ
    print(f'ได้เกรด {grade}') # process

In [22]:
print_grade('นางสาวนัฐวดี ชื่นชวนชม','633020986-5')

รหัสประจำตัว 633020986-5 ชื่อ นางสาวนัฐวดี ชื่นชวนชม
ได้เกรด A

In [23]:
print_grade('นางสาวนัฐวดี ชื่นชวนชม','633020986-5','A')

รหัสประจำตัว 633020986-5 ชื่อ นางสาวนัฐวดี ชื่นชวนชม
ได้เกรด A

In [24]:
print_grade(id='623020541-2',name='นายสิทธัตกะ จรัสแสง',grade='B+')  #กรณีที่มีตัวแปรเยอะ จำลำดับไม่ได้ ก็ระบุไปเลย

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด B+

# Looping (for)
สำหรับทำงายเยอะๆ ซ้ำ

```python
for member in listEx:       ## วนที่สมาชิก ใน list
    do_something()
```
for ชื่อตัวแปร in list ที่จะเอามาใช้เป็นสมาชิกใน ตัวแปร:     
    
วนซ้ำ
- วนซ้ำสมาชิกใน

In [25]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [26]:
def print_name(name):   # name input รอรับ
    print(f'ฉันชื่อ {name}') # กบก

In [27]:
for name in ['วัชราภรณ์','จุฑากาญจน์ ','ชลธิชา','ญาดา','กิตติคุณ']:  # ชื่อ name(ตัวแปร ที่จะไปดึงเอาสมาชิกเเต่ละตัวมาใช้ใน loop ) ที่เอาไปเป็น input
    N = name # ไม่จำเป็นต้องทำ
    print_name(N) #จะไปเป็น input ของด้านบน

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [28]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [29]:
for each in list_name_id_grade:
    name = each[0] #สามาชิกตัวแรกของสมาชิกอันเเรกของอันใหญ่
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
----------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
----------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
----------------

## ใช้ for loop เพิ่มสมาชิกใน list  *****

In [30]:
#อยากได้ข้อมูลแยกกัน ชื่ออย่างเดียว/รหัสอย่างเดียว/เกรดอย่างเดียว
list_name = [] #นิยมสร้าง list เปล่าๆก่อน
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [31]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

In [32]:
list_id

['623020527-6', '623021000-1', '623021005-1']

In [33]:
list_grade

['B', 'A', 'C']

### การวนลูปด้วย `range()`

- สร้าง list 0 - ก่อนเลขนั้น
- วนลูปแบบซ้ำๆ ไม่ต้องการเปลี่ยนแปลงอะไร

In [34]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [35]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
list(range(40))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [37]:
list(range(5,20)) # เริ่มจาก 5 ก่อน 20

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Loop ซ้อน Loop (nested loop)

In [38]:
#แม่สูตรคูณ
for mem1 in range(2,5): #แม่[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]ตัวมาคูณ
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}') #จบในลูป

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [39]:
def print_grade_loop(names,grades): # names,grades มีหลายสมาชิก เป็นlist
    for n,g in zip(names,grades): # The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
        print(f'{n} ได้เกรด {g}')  #  zip การจับคู่ ของเเต่ละ list ในตำแหน่เดียวกัน // จับ 2 list มาร่วมกัน

In [40]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

# HW 2.5 เราสร้าง function print logo พรรคก้าวไกล