<a href="https://colab.research.google.com/github/Triiplech4554/pyton_dataviz2023/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx')
sep_df

,เป้าหมายการเบิกจ่ายและการใช้จ่ายงบประมาณ พ.ศ. 2565,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,รายการ,ไตรมาสที่ 1,NaN,ไตรมาสที่ 2,NaN,ไตรมาสที่ 3,NaN,ไตรมาสที่ 4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,เบิกจ่าย,ใช้จ่าย,เบิกจ่าย,ใช้จ่าย,เบิกจ่าย,ใช้จ่าย,เบิกจ่าย,ใช้จ่าย,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ภาพรวม,30,34.08,51,56.24,72,81.74,93,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ประจำ,34,35.33,57,55.78,79,81.76,98,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ลงทุน,13,28.96,29,58.15,46,81.65,75,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ผลการใช้จ่ายงบประมาณรายจ่ายจังหวัดเชียงใหม่ ปร...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,...,ลำดับ\nใช้จ่าย,NaN,รายการ,งบประมาณ,ผลเบิกจ่าย,ร้อยละเบิกจ่าย,สูงกว่าเป้าหมาย,ผลการใช้จ่าย,ร้อยละ,สูงกว่าเป้าหมาย
8,งบประมาณรายจ่ายประจำปี พ.ศ.2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ไตรมาส 2,(PO + เบิกจ่าย),การใช้จ่าย,ไตรมาส 2
9,ภาพรวม,28525389387.86998,347600454.93,1190636149.69,27003921829.55999,94.666269,93,1.666269,28542158434.179993,100.058786,...,51,3,ภาพรวม,21663.922002,15260.448175,70.441761,19.441761,18069.314644,83.407403,27.167403
10,ประจำ,18920131432.719986,79257448.41,71316001.06,18801957159.449989,99.375405,98,1.375405,18952530608.919991,100.171242,...,NaN,NaN,ประจำ,12452.79457,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
11,ลงทุน,9605257955.149996,268343006.52,1119320148.63,8201964670.11,85.390363,75,10.390363,9589627825.26,99.837275,...,15,13,ลงทุน,9211.127432,4679.6091,50.803869,21.803869,7454.33853,80.927537,22.777537
12,ค่าใช้จ่ายบรรเทาผลกระทบจากการแพร่ระบาดของ COVI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ภาพรวม,2997790719.61,55485.83,28344424.87,2786219946.98,92.942444,NaN,NaN,2814619857.68,93.889805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,เงินกู้,2461860887.43,0,28344424.87,2256794827.16,91.670282,NaN,NaN,2285139252.03,92.821624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ปี 2563,24020888.32,0,0,24020888.32,100,NaN,NaN,24020888.32,100,...,NaN,NaN,NaN,ปี งปม.,จำนวน (ลบ.),ผลใช้จ่าย (ลบ.),NaN,NaN,NaN,NaN
16,ปี 2564,1772476259.27,0,1059233.4,1701880930.48,96.017135,NaN,NaN,1702940163.88,96.076896,...,NaN,NaN,NaN,63,25.88,92.8,NaN,NaN,NaN,NaN
17,ปี 2565,665363739.84,0,27285191.47,530893008.36,79.789892,NaN,NaN,558178199.83,83.890685,...,NaN,NaN,NaN,64,1778.64,95.75,NaN,NaN,NaN,NaN
18,งบกลาง,535929832.18,55485.83,0,529425119.82,98.786275,NaN,NaN,529480605.65,98.796629,...,NaN,NaN,NaN,65,668.82,88.71,NaN,NaN,NaN,NaN
19,ปี 2564,384191433.43,55485.83,0,379138167.2,98.684701,NaN,NaN,379193653.03,98.699143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ปี 2565,151738398.75,0,0,150286952.62,99.043455,NaN,NaN,150286952.62,99.043455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,งบกลาง เงินสำรองจ่ายเพื่อกรณีฉุกเฉินหรือจำเป็น,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,งบประมาณเหลื่อมปี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,งบกลาง,337.55,90.9,NaN,NaN,NaN,NaN
24,รายการ,งบประมาณ,สำรองเงิน\nแบบมีหนี้\nเหลื่อมปี อนุมัติ,ใบสั่งซื้อ\nเหลื่อมปี\nอนุมัติ,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,NaN,NaN,การใช่จ่าย,ร้อยละ\nการใช้จ่าย,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ปี 64,2332331126.399999,0,69727138.69,2161354074.1,92.669263,NaN,NaN,2231081212.79,95.658853,...,NaN,NaN,NaN,รวม,2810.89,88.98,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,งบกรมจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,งบกลุ่มจังหวัดภาคเหนือตอนบน 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,ภาพรวม,88.1266,NaN,65.132317,17.083368,19.38503,93,-73.61497,82.215685,93.292701,...,NaN,18มีค,6.707299,73.61497,NaN,NaN,NaN,NaN,NaN,NaN
30,ประจำ,22.3025,NaN,6.345138,10.370555,46.499518,98,-51.500482,16.715693,74.949863,...,NaN,NaN,25.050137,51.500482,NaN,NaN,NaN,NaN,NaN,NaN
31,ลงทุน,65.8241,NaN,58.787179,6.712813,10.198108,75,-64.801892,65.499992,99.507615,...,NaN,NaN,0.492385,64.801892,NaN,NaN,NaN,NaN,NaN,NaN
32,งบพัฒนาจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
33,ภาพรวม,302.5171,NaN,81.666079,184.515266,60.993334,93,-32.006666,266.181345,87.988859,...,NaN,NaN,12.011141,32.006666,NaN,NaN,NaN,NaN,NaN,NaN
34,ประจำ,31.1817,NaN,2.636562,16.719159,53.618497,98,-44.381503,19.355721,62.073975,...,NaN,NaN,37.926025,44.381503,NaN,NaN,NaN,NaN,NaN,NaN
35,ลงทุน,271.3354,NaN,79.029517,167.796107,61.840846,75,-13.159154,246.825624,90.966982,...,NaN,NaN,9.033018,13.159154,NaN,NaN,NaN,NaN,NaN,NaN
36,ที่มา : ระบบการบริหารการเงินการคลังภาครัฐแบบอิ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,ข้อมูล ณ 30 กันยายน 2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx',header=8)
sep_df #ปรับ header

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,...,ลำดับ\nใช้จ่าย,Unnamed: 15,รายการ.1,งบประมาณ.1,ผลเบิกจ่าย,ร้อยละเบิกจ่าย,สูงกว่าเป้าหมาย,ผลการใช้จ่าย,ร้อยละ,สูงกว่าเป้าหมาย.1
0,งบประมาณรายจ่ายประจำปี พ.ศ.2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ไตรมาส 2,(PO + เบิกจ่าย),การใช้จ่าย,ไตรมาส 2
1,ภาพรวม,28525389387.86998,347600454.93,1190636149.69,27003921829.55999,94.666269,93.0,1.666269,28542158434.179993,100.058786,...,51.0,3,ภาพรวม,21663.922002,15260.448175,70.441761,19.441761,18069.314644,83.407403,27.167403
2,ประจำ,18920131432.719986,79257448.41,71316001.06,18801957159.449989,99.375405,98.0,1.375405,18952530608.919991,100.171242,...,NaN,NaN,ประจำ,12452.79457,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
3,ลงทุน,9605257955.149996,268343006.52,1119320148.63,8201964670.11,85.390363,75.0,10.390363,9589627825.26,99.837275,...,15.0,13,ลงทุน,9211.127432,4679.6091,50.803869,21.803869,7454.33853,80.927537,22.777537
4,ค่าใช้จ่ายบรรเทาผลกระทบจากการแพร่ระบาดของ COVI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ภาพรวม,2997790719.61,55485.83,28344424.87,2786219946.98,92.942444,NaN,NaN,2814619857.68,93.889805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,เงินกู้,2461860887.43,0,28344424.87,2256794827.16,91.670282,NaN,NaN,2285139252.03,92.821624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ปี 2563,24020888.32,0,0,24020888.32,100,NaN,NaN,24020888.32,100,...,NaN,NaN,NaN,ปี งปม.,จำนวน (ลบ.),ผลใช้จ่าย (ลบ.),NaN,NaN,NaN,NaN
8,ปี 2564,1772476259.27,0,1059233.4,1701880930.48,96.017135,NaN,NaN,1702940163.88,96.076896,...,NaN,NaN,NaN,63,25.88,92.8,NaN,NaN,NaN,NaN
9,ปี 2565,665363739.84,0,27285191.47,530893008.36,79.789892,NaN,NaN,558178199.83,83.890685,...,NaN,NaN,NaN,64,1778.64,95.75,NaN,NaN,NaN,NaN
10,งบกลาง,535929832.18,55485.83,0,529425119.82,98.786275,NaN,NaN,529480605.65,98.796629,...,NaN,NaN,NaN,65,668.82,88.71,NaN,NaN,NaN,NaN
11,ปี 2564,384191433.43,55485.83,0,379138167.2,98.684701,NaN,NaN,379193653.03,98.699143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ปี 2565,151738398.75,0,0,150286952.62,99.043455,NaN,NaN,150286952.62,99.043455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,งบกลาง เงินสำรองจ่ายเพื่อกรณีฉุกเฉินหรือจำเป็น,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,งบประมาณเหลื่อมปี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,งบกลาง,337.55,90.9,NaN,NaN,NaN,NaN
16,รายการ,งบประมาณ,สำรองเงิน\nแบบมีหนี้\nเหลื่อมปี อนุมัติ,ใบสั่งซื้อ\nเหลื่อมปี\nอนุมัติ,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,NaN,NaN,การใช่จ่าย,ร้อยละ\nการใช้จ่าย,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ปี 64,2332331126.399999,0,69727138.69,2161354074.1,92.669263,NaN,NaN,2231081212.79,95.658853,...,NaN,NaN,NaN,รวม,2810.89,88.98,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,งบกรมจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,งบกลุ่มจังหวัดภาคเหนือตอนบน 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,ภาพรวม,88.1266,NaN,65.132317,17.083368,19.38503,93.0,-73.614970,82.215685,93.292701,...,NaN,18มีค,6.707299,73.61497,NaN,NaN,NaN,NaN,NaN,NaN
22,ประจำ,22.3025,NaN,6.345138,10.370555,46.499518,98.0,-51.500482,16.715693,74.949863,...,NaN,NaN,25.050137,51.500482,NaN,NaN,NaN,NaN,NaN,NaN
23,ลงทุน,65.8241,NaN,58.787179,6.712813,10.198108,75.0,-64.801892,65.499992,99.507615,...,NaN,NaN,0.492385,64.801892,NaN,NaN,NaN,NaN,NaN,NaN
24,งบพัฒนาจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,ภาพรวม,302.5171,NaN,81.666079,184.515266,60.993334,93.0,-32.006666,266.181345,87.988859,...,NaN,NaN,12.011141,32.006666,NaN,NaN,NaN,NaN,NaN,NaN
26,ประจำ,31.1817,NaN,2.636562,16.719159,53.618497,98.0,-44.381503,19.355721,62.073975,...,NaN,NaN,37.926025,44.381503,NaN,NaN,NaN,NaN,NaN,NaN
27,ลงทุน,271.3354,NaN,79.029517,167.796107,61.840846,75.0,-13.159154,246.825624,90.966982,...,NaN,NaN,9.033018,13.159154,NaN,NaN,NaN,NaN,NaN,NaN
28,ที่มา : ระบบการบริหารการเงินการคลังภาครัฐแบบอิ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,ข้อมูล ณ 30 กันยายน 2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx',header=8,skiprows=2)
sep_df

,ภาพรวม,28525389387.86998,347600454.93,1190636149.69,27003921829.55999,94.66626892407305,93,1.6662689240730515,28542158434.179993,100.05878638879209,...,51,3,ภาพรวม.1,21663.922001990002,15260.44817453,70.44176106767836,19.441761067678357,18069.31464446,83.40740260604792,27.167402606047922
0,ประจำ,18920131432.719986,79257448.41,71316001.06,18801957159.449989,99.375405,98.0,1.375405,18952530608.919991,100.171242,...,NaN,NaN,ประจำ,12452.79457,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
1,ลงทุน,9605257955.149996,268343006.52,1119320148.63,8201964670.11,85.390363,75.0,10.390363,9589627825.26,99.837275,...,15.0,13,ลงทุน,9211.127432,4679.6091,50.803869,21.803869,7454.338530,80.927537,22.777537
2,ค่าใช้จ่ายบรรเทาผลกระทบจากการแพร่ระบาดของ COVI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ภาพรวม,2997790719.61,55485.83,28344424.87,2786219946.98,92.942444,NaN,NaN,2814619857.68,93.889805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,เงินกู้,2461860887.43,0,28344424.87,2256794827.16,91.670282,NaN,NaN,2285139252.03,92.821624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ปี 2563,24020888.32,0,0,24020888.32,100,NaN,NaN,24020888.32,100,...,NaN,NaN,NaN,ปี งปม.,จำนวน (ลบ.),ผลใช้จ่าย (ลบ.),NaN,NaN,NaN,NaN
6,ปี 2564,1772476259.27,0,1059233.4,1701880930.48,96.017135,NaN,NaN,1702940163.88,96.076896,...,NaN,NaN,NaN,63,25.88,92.8,NaN,NaN,NaN,NaN
7,ปี 2565,665363739.84,0,27285191.47,530893008.36,79.789892,NaN,NaN,558178199.83,83.890685,...,NaN,NaN,NaN,64,1778.64,95.75,NaN,NaN,NaN,NaN
8,งบกลาง,535929832.18,55485.83,0,529425119.82,98.786275,NaN,NaN,529480605.65,98.796629,...,NaN,NaN,NaN,65,668.82,88.71,NaN,NaN,NaN,NaN
9,ปี 2564,384191433.43,55485.83,0,379138167.2,98.684701,NaN,NaN,379193653.03,98.699143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ปี 2565,151738398.75,0,0,150286952.62,99.043455,NaN,NaN,150286952.62,99.043455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,งบกลาง เงินสำรองจ่ายเพื่อกรณีฉุกเฉินหรือจำเป็น,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,งบประมาณเหลื่อมปี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,งบกลาง,337.55,90.9,NaN,NaN,NaN,NaN
14,รายการ,งบประมาณ,สำรองเงิน\nแบบมีหนี้\nเหลื่อมปี อนุมัติ,ใบสั่งซื้อ\nเหลื่อมปี\nอนุมัติ,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,NaN,NaN,การใช่จ่าย,ร้อยละ\nการใช้จ่าย,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ปี 64,2332331126.399999,0,69727138.69,2161354074.1,92.669263,NaN,NaN,2231081212.79,95.658853,...,NaN,NaN,NaN,รวม,2810.89,88.98,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,งบกรมจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,งบกลุ่มจังหวัดภาคเหนือตอนบน 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ภาพรวม,88.1266,NaN,65.132317,17.083368,19.38503,93.0,-73.614970,82.215685,93.292701,...,NaN,18มีค,6.707299,73.61497,NaN,NaN,NaN,NaN,NaN,NaN
20,ประจำ,22.3025,NaN,6.345138,10.370555,46.499518,98.0,-51.500482,16.715693,74.949863,...,NaN,NaN,25.050137,51.500482,NaN,NaN,NaN,NaN,NaN,NaN
21,ลงทุน,65.8241,NaN,58.787179,6.712813,10.198108,75.0,-64.801892,65.499992,99.507615,...,NaN,NaN,0.492385,64.801892,NaN,NaN,NaN,NaN,NaN,NaN
22,งบพัฒนาจังหวัด,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,ภาพรวม,302.5171,NaN,81.666079,184.515266,60.993334,93.0,-32.006666,266.181345,87.988859,...,NaN,NaN,12.011141,32.006666,NaN,NaN,NaN,NaN,NaN,NaN
24,ประจำ,31.1817,NaN,2.636562,16.719159,53.618497,98.0,-44.381503,19.355721,62.073975,...,NaN,NaN,37.926025,44.381503,NaN,NaN,NaN,NaN,NaN,NaN
25,ลงทุน,271.3354,NaN,79.029517,167.796107,61.840846,75.0,-13.159154,246.825624,90.966982,...,NaN,NaN,9.033018,13.159154,NaN,NaN,NaN,NaN,NaN,NaN
26,ที่มา : ระบบการบริหารการเงินการคลังภาครัฐแบบอิ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ข้อมูล ณ 30 กันยายน 2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx',header=8,skiprows=2,skipfooter=26)
sep_df

,ภาพรวม,28525389387.86998,347600454.93,1190636149.69,27003921829.55999,94.66626892407305,93,1.6662689240730515,28542158434.179993,100.05878638879209,...,51,3,ภาพรวม.1,21663.922001990002,15260.44817453,70.44176106767836,19.441761067678357,18069.31464446,83.40740260604792,27.167402606047922
0,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98,1.375405,1.895253e+10,100.171242,...,NaN,NaN,ประจำ,12452.794570,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
1,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75,10.390363,9.589628e+09,99.837275,...,15.0,13.0,ลงทุน,9211.127432,4679.609100,50.803869,21.803869,7454.338530,80.927537,22.777537

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx',header=8,skipfooter=26)
sep_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,...,ลำดับ\nใช้จ่าย,Unnamed: 15,รายการ.1,งบประมาณ.1,ผลเบิกจ่าย,ร้อยละเบิกจ่าย,สูงกว่าเป้าหมาย,ผลการใช้จ่าย,ร้อยละ,สูงกว่าเป้าหมาย.1
0,งบประมาณรายจ่ายประจำปี พ.ศ.2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ไตรมาส 2,(PO + เบิกจ่าย),การใช้จ่าย,ไตรมาส 2
1,ภาพรวม,2.852539e+10,3.476005e+08,1.190636e+09,2.700392e+10,94.666269,93.0,1.666269,2.854216e+10,100.058786,...,51.0,3.0,ภาพรวม,21663.922002,15260.448175,70.441761,19.441761,18069.314644,83.407403,27.167403
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,...,NaN,NaN,ประจำ,12452.794570,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,...,15.0,13.0,ลงทุน,9211.127432,4679.609100,50.803869,21.803869,7454.33853,80.927537,22.777537

### Quiz4 ตัดตาราง ```sep_df``` ให้เหลือเฉพาะ 15 Columns แรก และข้อมูล ```งบประจำ กับ งบลงทุน```

In [ ]:

sep_df = sep_df.iloc[-2:,:15]
sep_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0

In [ ]:

sep_df['เดือน-ปี'] = len(sep_df)*['sep-65']

In [ ]:
sep_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65

In [ ]:
oct_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/sep 65.xlsx',header=9,skipfooter=27)
oct_df

,งบประมาณรายจ่ายประจำปี พ.ศ.2565,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,ไตรมาส 2,(PO + เบิกจ่าย),การใช้จ่าย,ไตรมาส 2
0,ภาพรวม,2.852539e+10,3.476005e+08,1.190636e+09,2.700392e+10,94.666269,93,1.666269,2.854216e+10,100.058786,...,51.0,3.0,ภาพรวม,21663.922002,15260.448175,70.441761,19.441761,18069.314644,83.407403,27.167403
1,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98,1.375405,1.895253e+10,100.171242,...,NaN,NaN,ประจำ,12452.794570,10580.839075,84.967587,27.967587,10614.976114,85.241719,29.461719

In [ ]:
oct_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/oct 65.xlsx',header=9,skipfooter=27)
oct_df = oct_df.iloc[-2:,:15]
oct_df['เดือน-ปี'] = len(oct_df)*['oct-65']

In [ ]:

oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q1,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q1.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,6822.811789,NaN,12.706842,3984.779058,58.403766,35.0,23.403766,3997.485900,58.590007,35.33,23.260007,2825.325889,NaN,NaN,oct-65
3,ลงทุน,6180.211723,NaN,457.295806,1291.209026,20.892634,19.0,1.892634,1748.504832,28.291989,28.96,-0.668011,4431.706890,4.0,6.0,oct-65

### ต่อตารางแกน Y (แกน rows)

In [ ]:

sep_oct_df = pd.concat([sep_df,oct_df])
sep_oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,NaN,NaN
2,ประจำ,6.822812e+03,NaN,1.270684e+01,3.984779e+03,58.403766,NaN,23.403766,3.997486e+03,58.590007,NaN,23.260007,2.825326e+03,NaN,NaN,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,NaN,4.572958e+02,1.291209e+03,20.892634,NaN,1.892634,1.748505e+03,28.291989,NaN,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

# HW4
จากตาราง ```sep_oct_df```

1.   งบประมาณประจำหรืองบประมาณลงทุน สูงกว่ากัน
2.   งบรวม เดือน oct หรือ sep อันไหนมากกว่ากัน
3.   แก้ค่า missing พร้อมทั้งให้เหตุผล
4.   เดือนไหนเบิกจ่ายรวมมากกว่ากัน (การใช้จ่าย (PO+เบิกจ่าย))

1.   งบประมาณประจำหรืองบประมาณลงทุน สูงกว่ากัน

In [ ]:
Fb = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ')&( sep_oct_df['เดือน-ปี']=='sep-65')]['งบประมาณ']
Ib = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน')&( sep_oct_df['เดือน-ปี']=='sep-65')]['งบประมาณ']
print(f'งบประมาณประจำ มีค่าเท่ากับ {int(Fb):,} บาท')
print(f'งบประมาณลงทุน มีค่าเท่ากับ {int(Ib):,} บาท')
print(f'งบประมาณประจำ มีค่าสูงกว่า งบประมาณลงทุนอยู่ {(int(Fb) - int(Ib)):,} บาท')

งบประมาณประจำ มีค่าเท่ากับ 18,920,131,432 บาท
งบประมาณลงทุน มีค่าเท่ากับ 9,605,257,955 บาท
งบประมาณประจำ มีค่าสูงกว่า งบประมาณลงทุนอยู่ 9,314,873,477 บาท

2.   งบรวม เดือน oct หรือ sep อันไหนมากกว่ากัน

In [ ]:
sep = sep_oct_df[sep_oct_df["เดือน-ปี"] == sep_df["เดือน-ปี"][2]]
oct = sep_oct_df[sep_oct_df["เดือน-ปี"] == oct_df["เดือน-ปี"][2]]
Fb_sep  = sep['งบประมาณ'][2]
Ib_sep  = sep['งบประมาณ'][3]
sep_sum = Fb_sep + Ib_sep
Fb_oct = oct['งบประมาณ'][2]
Ib_oct= oct['งบประมาณ'][3]
oct_sum = Fb_oct + Ib_oct
list_name =[]

In [ ]:
for x in set(oct['รายการ']):
  list_name.append(x)
list_name
if sep_sum > oct_sum :
  print (f'งบรวมมากที่สุดคือเดือน {sep["เดือน-ปี"][2]} ประกอบไปด้วยงบ "{list_name[0]}" เป็นเงินจำนวน {int(Fb_sep):,} บาท เเละงบ "{list_name[1]}" เป็นเงินจำนวน {int(Ib_sep):,} บาท รวมเป็นเงิน {int(sep_sum):,} บาท')
elif sep_sum < oct_sum :
  print (f'งบรวมมากที่สุดคือเดือน {oct["เดือน-ปี"][2]} ประกอบไปด้วยงบ "{list_name[0]}" เป็นเงินจำนวน {int(Fb_oct):,} บาท เเละงบ "{list_name[1]}" เป็นเงินจำนวน {int(Ib_oct):,} บาท รวมเป็นเงิน {int(oct_sum):,} บาท')

งบรวมมากที่สุดคือเดือน sep-65 ประกอบไปด้วยงบ "ลงทุน" เป็นเงินจำนวน 18,920,131,432 บาท เเละงบ "ประจำ" เป็นเงินจำนวน 9,605,257,955 บาท รวมเป็นเงิน 28,525,389,387 บาท

3.   แก้ค่า missing พร้อมทั้งให้เหตุผล

In [ ]:
sep_oct_df = pd.concat([sep_df,oct_df])
mean = sep_oct_df.mean()
sep_oct= sep_oct_df.fillna(mean)
sep_oct #แทนค่า missing ด้วยค่า mean เพราะ การใช้ค่าเฉลี่ยเป็นแทน missing สามารถช่วยรักษาความสมดุลของข้อมูลได้เนื่องจากไม่ทำให้ค่าเฉลี่ยเปลี่ยนแปลงมาก และทำให้การที่จะนำข้อมูลไปวิเคราะห์ต่อไปได้โดยไม่ได้รับผลกระทบมาก

<ipython-input-34-445a8b4eb58f>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean = sep_oct_df.mean()

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,5.0,10.5,sep-65,27.0,32.145
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,27.0,32.145
2,ประจำ,6.822812e+03,1.738002e+08,1.270684e+01,3.984779e+03,58.403766,86.5,23.403766,3.997486e+03,58.590007,100.0,23.260007,2.825326e+03,5.0,10.5,oct-65,35.0,35.330
3,ลงทุน,6.180212e+03,1.738002e+08,4.572958e+02,1.291209e+03,20.892634,86.5,1.892634,1.748505e+03,28.291989,100.0,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.960

4.   เดือนไหนเบิกจ่ายรวมมากกว่ากัน (การใช้จ่าย (PO+เบิกจ่าย))

In [ ]:
sep_PO = sep_oct_df[sep_oct_df["เดือน-ปี"] ==sep_df["เดือน-ปี"][2]]
oct_PO = sep_oct_df[sep_oct_df["เดือน-ปี"] == oct_df["เดือน-ปี"][2]]
Fb_sep = sep['การใช้จ่าย (PO+เบิกจ่าย)'][2]
Ib_sep = sep['การใช้จ่าย (PO+เบิกจ่าย)'][3]
sep_sumPO = Fb_sep + Ib_sep
Fb_oct = oct['การใช้จ่าย (PO+เบิกจ่าย)'][2]
Ib_oct = oct['การใช้จ่าย (PO+เบิกจ่าย)'][3]
oct_sumPO = Fb_oct + Ib_oct
list_name =[]

In [ ]:
Fb_sep_pay = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='sep-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
Ib_sep_pay = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='sep-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
Fb_oct_pay = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='oct-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
Ib_oct_pay = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='oct-65')]['การใช้จ่าย (PO+เบิกจ่าย)']

In [ ]:
#การเบิกจ่ายทั้งหมด
sep_pay = sep_oct_df[sep_oct_df['เดือน-ปี'] =='sep-65'][['การใช้จ่าย (PO+เบิกจ่าย)']].sum()
oct_pay = sep_oct_df[sep_oct_df['เดือน-ปี'] =='oct-65'][['การใช้จ่าย (PO+เบิกจ่าย)']].sum()

print(f'เดือนกันยายน มีการเบิกจ่ายทั้งหมดจำนวน {int(sep_pay):,} บาท')
print(f'เดือนตุลาคม มีการเบิกจ่ายทั้งหมดจำนวน {int(oct_pay):,} บาท')

เดือนกันยายน มีการเบิกจ่ายจำนวน 28,542,158,434 บาท
เดือนตุลาคม มีการเบิกจ่ายจำนวน 5,745 บาท

In [ ]:
pay_all = int(sep_pay) > int(oct_pay)
if pay_all is True:
  print(f'ในเดือน กันยายน มีการเบิกจ่ายมากกว่า ตุลาคม จำนวน {(int(sep_pay) - int(oct_pay)):,} บาท')
else:
  print(f'ในเดือน ตุลาคม มีการเบิกจ่ายมากกว่า กันยายน จำนวน {(int(sep_pay) - int(oct_pay)):,} บาท')

ในเดือน กันยายน มีการเบิกจ่ายมากกว่า ตุลาคม จำนวน 28,542,152,689 บาท

#### ต่อตาราง condo

In [5]:
project_df = pd.read_csv('/content/drive/MyDrive/DataViz23Data/opendata_project-2.csv')
project_df.head

<bound method NDFrame.head of        row_number                project_id                     name_en  \
0         20809.0  5ec3409884c1860019f3298d    Baan Laksiri Surin-Korco
1          4268.0             project_15905              Liberty Park 2
2          5849.0  62b2b082cb0d2c0014be01a6  Pleno Paholyothin-Saimai 2
3         21762.0              project_6010              Baan Thara Rin
4         10751.0             project_11312             The Forest Hill
...           ...                       ...                         ...
23862     17534.0              project_9330   Parinyada Wongwan Sathorn
23863     12360.0              project_9316              Sinwong Garden
23864      6865.0             project_15993      La Maison Sukhumvit 22
23865        74.0               project_105                    Regent 1
23866     20538.0  5f2bcbd0306e7e0019068db0     Baanruenrom Nongphueng

                          name_th propertytype_id propertytype_name_en  \
0      บ้านหลักศิริ สุรินทร์-คอโค               3             Townhome
1              ลิเบอร์ตี้ พาร์ค 2               2                Condo
2        พลีโน่ พหลโยธิน-สายไหม 2               3             Townhome
3                  บ้านธารารินทร์               1       Detached House
4              เดอะ ฟอเรสต์ ฮิลล์               1       Detached House
...                           ...             ...                  ...
23862          ปริญญดา วงแหวนสาทร               1       Detached House
23863             สินวงศ์การ์เด้น           20000           Twin house
23864         ลาเมซอง สุขุมวิท 22               2                Condo
23865                  รีเจ้นท์ 1               1       Detached House
23866       บ้านรื่นรมย์ หนองผึ้ง               1       Detached House

      propertytype_name_th  price_min     developer_id  \
0                 ทาวน์โฮม  1490000.0   developer_7326
1                    คอนโด  6500000.0  developer_10510
2                 ทาวน์โฮม  2790000.0   developer_1760
3                     บ้าน  3100000.0  developer_10510
4                     บ้าน  2450000.0   developer_7313
...                    ...        ...              ...
23862                 บ้าน  4780000.0   developer_1762
23863              บ้านแฝด  1280000.0  developer_10510
23864                คอนโด  9350000.0  developer_10510
23865                 บ้าน  3100000.0    developer_100
23866                 บ้าน  2500000.0  developer_10510

                    developer_name_en  ... facility_park  facility_playground  \
0      LAK SIRI REAL ESTATE CO., LTD.  ...           NaN                  NaN
1                                 NaN  ...           0.0                  0.0
2         AP (THAILAND) PUB CO., LTD.  ...           1.0                  NaN
3                                 NaN  ...           NaN                  NaN
4         Cholsiri Property Co., Ltd.  ...           1.0                  NaN
...                               ...  ...           ...                  ...
23862                             NaN  ...           1.0                  NaN
23863                             NaN  ...           NaN                  NaN
23864                             NaN  ...           NaN                  NaN
23865     THE TROPICAL HOME CO., LTD.  ...           NaN                  NaN
23866                             NaN  ...           NaN                  NaN

       facility_pool facility_security         date_created  \
0                1.0               1.0  2020-05-19 09:12:40
1                1.0               1.0  2019-06-28 16:06:45
2                1.0               1.0  2022-06-22 13:02:42
3                NaN               NaN  2017-04-19 14:41:10
4                1.0               1.0  2017-10-30 14:10:50
...              ...               ...                  ...
23862            1.0               1.0  2017-08-22 16:58:38
23863            NaN               1.0  2017-08-22 15:19:06
23864            1.0               1.0  2019-07-02 15:34:11
23865            1.0               1.0  2015-09-23 09:06:27
23866            NaN               NaN  2020-08-06 16:22:24

               date_finish         date_updated  source  \
0                      NaN  2020-12-04 10:33:10  baania
1      1998-12-31 07:00:00  2020-12-04 10:39:27  baania
2      2024-01-01 07:00:00  2023-03-20 15:00:04  baania
3                      NaN  2022-11-07 12:30:02  baania
4      2018-12-31 07:00:00  2022-08-15 16:00:05  baania
...                    ...                  ...     ...
23862  2006-12-31 07:00:00  2020-12-04 10:46:24  baania
23863                  NaN  2023-02-02 18:30:02  baania
23864  1994-12-31 07:00:00  2021-07-05 12:00:14  baania
23865                  NaN  2020-12-04 10:44:04  baania
23866  2020-01-01 07:00:00  2020-12-04 10:49:31  baania

                                             url_project         day
0      https://baania.com/th/project/บ้านหลักศิริ-สุร...  2023-06-11
1      https://baania.com/th/project/ลิเบอร์ตี้-พาร์ค...  2023-06-11
2      https://baania.com/th/project/พลีโน่-พหลโยธิน-...  2023-06-11
3      https://baania.com/th/project/บ้านธารารินทร์-p...  2023-06-11
4      https://baania.com/th/project/เดอะ-ฟอเรสต์-ฮิล...  2023-06-11
...                                                  ...         ...
23862  https://baania.com/th/project/ปริญญดา-วงแหวนสา...  2023-06-11
23863  https://baania.com/th/project/สินวงศ์การ์เด้น-...  2023-06-11
23864  https://baania.com/th/project/ลาเมซอง-สุขุมวิท...  2023-06-11
23865  https://baania.com/th/project/รีเจ้นท์-1-proje...  2023-06-11
23866  https://baania.com/th/project/บ้านรื่นรมย์-หนอ...  2023-06-11

[23867 rows x 46 columns]>

In [6]:
unit_df = pd.read_csv('/content/drive/MyDrive/DataViz23Data/opendata_unittype-2.csv')
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,37586,unittype_35602,project_15270,Studio,2,Condo,คอนโด,NaN,30.0,3700000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:56,2020-10-14 20:21:01,baania,https://baania.com/th/project/ไลฟ์-แอท-รัชดา-ส...,2023-06-11
1,9427,unittype_4487,project_1476,ภัทรสิน,3,Townhome,ทาวน์โฮม,NaN,NaN,2000000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:17,2020-10-14 00:53:00,baania,https://baania.com/th/project/บ้านสวนทรัพย์ธาน...,2023-06-11
2,12994,unittype_37624,project_16674,Type B,3,Townhome,ทาวน์โฮม,24.0,96.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-09-09 15:30:02,2022-09-09 15:03:18,baania,https://baania.com/th/project/สกายไลน์-อมตะ-16...,2023-06-11
3,19073,62286afcc74d880014871357,622861f7aae18f00134066d6,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,NaN,1000000.0,...,1.0,NaN,NaN,NaN,NaN,2022-03-09 16:30:04,2022-03-09 16:17:44,baania,https://baania.com/th/project/รุ่งเรืองทรัพย์ว...,2023-06-11
4,10907,unittype_8344,project_2821,2 Bedroom (ขายแล้ว),2,Condo,คอนโด,NaN,48.0,4200000.0,...,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:24:53,2020-10-16 16:46:17,baania,https://baania.com/th/project/เดอะ-เทมโป-แกรนด...,2023-06-11

### ต่อตารางในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

In [9]:
unit_df['province_en'] = unit_df['project_id'].map(project_df.set_index('project_id')['province_name_en'])

InvalidIndexError: ignored

In [10]:
project_df = project_df.drop_duplicates(subset='project_id')
unit_df['province_en'] = unit_df['project_id'].map(project_df.set_index('project_id')['province_name_en'])

In [11]:
unit_df

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day,province_en
0,37586,unittype_35602,project_15270,Studio,2,Condo,คอนโด,NaN,30.0,3700000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:56,2020-10-14 20:21:01,baania,https://baania.com/th/project/ไลฟ์-แอท-รัชดา-ส...,2023-06-11,Bangkok
1,9427,unittype_4487,project_1476,ภัทรสิน,3,Townhome,ทาวน์โฮม,NaN,NaN,2000000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:20:17,2020-10-14 00:53:00,baania,https://baania.com/th/project/บ้านสวนทรัพย์ธาน...,2023-06-11,Nakhon Ratchasima
2,12994,unittype_37624,project_16674,Type B,3,Townhome,ทาวน์โฮม,24.0,96.0,NaN,...,NaN,NaN,NaN,NaN,2022-09-09 15:30:02,2022-09-09 15:03:18,baania,https://baania.com/th/project/สกายไลน์-อมตะ-16...,2023-06-11,Rayong
3,19073,62286afcc74d880014871357,622861f7aae18f00134066d6,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,NaN,1000000.0,...,NaN,NaN,NaN,NaN,2022-03-09 16:30:04,2022-03-09 16:17:44,baania,https://baania.com/th/project/รุ่งเรืองทรัพย์ว...,2023-06-11,Nakhon Si Thammarat
4,10907,unittype_8344,project_2821,2 Bedroom (ขายแล้ว),2,Condo,คอนโด,NaN,48.0,4200000.0,...,1.0,NaN,NaN,NaN,2021-11-12 13:24:53,2020-10-16 16:46:17,baania,https://baania.com/th/project/เดอะ-เทมโป-แกรนด...,2023-06-11,Bangkok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43369,9507,unittype_5086,project_1635,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,880000.0,...,NaN,NaN,NaN,NaN,2022-10-19 11:30:05,2022-10-19 11:17:08,baania,https://baania.com/th/project/บ้านคุรุสภา-นครร...,2023-06-11,Nakhon Ratchasima
43370,23721,unittype_15644,project_6109,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,45.0,140.0,2400000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:24:19,2020-10-14 23:03:19,baania,https://baania.com/th/project/บ้านเต็มสิริ-1-6...,2023-06-11,Bangkok
43371,31551,unittype_21385,project_8392,อาคารพาณิชย์สี่ชั้น type B,4,Commercial,อาคารพาณิชย์,34.0,192.0,13000000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:19:31,2020-10-14 00:38:09,baania,https://baania.com/th/project/พระเงิน-เพลส-839...,2023-06-11,Nonthaburi
43372,29837,unittype_26243,project_10566,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,191.0,2600000.0,...,1.0,NaN,NaN,NaN,2020-12-04 10:47:10,2020-10-16 16:33:56,baania,https://baania.com/th/project/บ้านไทยวิลล่า-ศร...,2023-06-11,Chon Buri
43373,9465,unittype_35686,project_15298,2 Bedroom,2,Condo,คอนโด,NaN,45.0,3490000.0,...,1.0,NaN,NaN,NaN,2023-02-28 11:00:15,2023-02-28 10:41:37,baania,https://baania.com/th/project/แกรนด์-คอนโดมิเน...,2023-06-11,Bangkok

In [12]:
unit_df[unit_df['propertytype_name_en']=='Condo']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day,province_en
0,37586,unittype_35602,project_15270,Studio,2,Condo,คอนโด,NaN,30.00,3700000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:56,2020-10-14 20:21:01,baania,https://baania.com/th/project/ไลฟ์-แอท-รัชดา-ส...,2023-06-11,Bangkok
4,10907,unittype_8344,project_2821,2 Bedroom (ขายแล้ว),2,Condo,คอนโด,NaN,48.00,4200000.0,...,1.0,NaN,NaN,NaN,2021-11-12 13:24:53,2020-10-16 16:46:17,baania,https://baania.com/th/project/เดอะ-เทมโป-แกรนด...,2023-06-11,Bangkok
8,33884,unittype_36928,project_15818,1 Bedroom,2,Condo,คอนโด,NaN,49.00,3350000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:58,2020-10-14 20:24:11,baania,https://baania.com/th/project/ทองหล่อ-ทาวเวอร์...,2023-06-11,Bangkok
14,34574,unittype_37590,project_16368,4 Bedroom,2,Condo,คอนโด,NaN,170.00,15900000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:23:00,2020-10-14 20:27:19,baania,https://baania.com/th/project/จิวเวลรี่-เทรด-เ...,2023-06-11,Bangkok
16,39469,unittype_40049,project_17461,2 Bedroom,2,Condo,คอนโด,NaN,48.88,4700000.0,...,NaN,NaN,NaN,NaN,2023-05-11 16:00:05,2023-05-11 15:30:26,baania,https://baania.com/th/project/อะไรส์-รัชดา-19-...,2023-06-11,Bangkok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43355,17263,60488b2e582962001402e663,60488aeca8b9ee0013d7ebac,1 Bedroom,2,Condo,คอนโด,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2021-03-10 16:30:04,2021-03-10 16:07:33,baania,https://baania.com/th/project/เดอะ-ไพรเวซี่-พา...,2023-06-11,Bangkok
43357,32766,unittype_32126,project_13619,1 Bedroom,2,Condo,คอนโด,NaN,31.00,6500000.0,...,1.0,NaN,NaN,NaN,2022-05-17 15:30:05,2022-05-17 15:17:54,baania,https://baania.com/th/project/วาลเด้น-อโศก-136...,2023-06-11,Bangkok
43364,12599,unittype_24778,project_9877,2 Bedroom,2,Condo,คอนโด,NaN,49.00,3500000.0,...,NaN,NaN,NaN,NaN,2022-08-18 15:00:06,2022-08-18 14:44:59,baania,https://baania.com/th/project/ซีซี-คอนโดมิเนีย...,2023-06-11,Chon Buri
43366,11147,unittype_35831,project_15356,Studio,2,Condo,คอนโด,NaN,27.00,4990000.0,...,NaN,NaN,NaN,NaN,2022-09-22 15:00:06,2022-09-22 14:56:47,baania,https://baania.com/th/project/ไอดีโอ-โมบิ-รางน...,2023-06-11,Bangkok
43373,9465,unittype_35686,project_15298,2 Bedroom,2,Condo,คอนโด,NaN,45.00,3490000.0,...,1.0,NaN,NaN,NaN,2023-02-28 11:00:15,2023-02-28 10:41:37,baania,https://baania.com/th/project/แกรนด์-คอนโดมิเน...,2023-06-11,Bangkok

In [13]:
unit_df[unit_df['propertytype_name_en']=='Condo'].sort_values(by=['price_min'])

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day,province_en
30708,5661,unittype_18085,project_7286,1 Bedroom,2,Condo,คอนโด,NaN,33.00,100000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:21:38,2020-10-14 01:06:17,baania,https://baania.com/th/project/บ้านเอื้ออาทร-สุ...,2023-06-11,Samut Prakan
922,24813,unittype_18253,project_7374,1 Bedroom,2,Condo,คอนโด,NaN,24.00,100000.0,...,NaN,NaN,NaN,NaN,2020-12-04 10:40:53,2020-10-14 01:06:26,baania,https://baania.com/th/project/กำนันกำธร-คอนโดม...,2023-06-11,Samut Prakan
1652,6043,unittype_19041,project_7623,1 Bedroom,2,Condo,คอนโด,NaN,33.00,100000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:34,2020-10-14 01:11:04,baania,https://baania.com/th/project/บ้านเอื้ออาทร-พุ...,2023-06-11,Nakhon Pathom
23918,24495,unittype_15924,project_6214,Studio,2,Condo,คอนโด,NaN,30.00,100000.0,...,NaN,NaN,NaN,NaN,2020-12-04 10:40:41,2020-10-14 01:05:00,baania,https://baania.com/th/project/ปัญชลีคอนโดทาวน์...,2023-06-11,Pathum Thani
3923,2932,unittype_15136,project_3945,Studio Floor 4,2,Condo,คอนโด,NaN,21.00,101000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:20:59,2020-10-14 00:58:17,baania,https://baania.com/th/project/เอส-เอ-อาคารชุด-...,2023-06-11,Nonthaburi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43310,21103,63b7919c722c810013293f0d,63b79163722c810013293f0b,2 Bedroom,2,Condo,คอนโด,NaN,38.00,NaN,...,NaN,NaN,NaN,NaN,2023-01-11 13:30:02,2023-01-11 12:57:43,baania,https://baania.com/th/project/พฤกษาวารินทร์-อ่...,2023-06-11,Bangkok
43336,17210,6035fc6e4c81850012c1eac2,5e7d6f3b78c46b001ac658df,Fullplex 2 Bedroom,2,Condo,คอนโด,NaN,76.17,NaN,...,NaN,NaN,NaN,NaN,2023-05-09 16:00:06,2023-05-09 15:40:37,baania,https://baania.com/th/project/โนเบิล-ฟอร์ม-ทอง...,2023-06-11,Bangkok
43340,23704,unittype_15979,project_5880,Studio,2,Condo,คอนโด,NaN,34.00,NaN,...,NaN,NaN,NaN,NaN,2021-11-12 13:24:49,2020-10-16 16:40:12,baania,https://baania.com/th/project/ไทยสาธิตคอนโดมิเ...,2023-06-11,Bangkok
43353,19565,62872af93937f9001619948a,62872a8b3937f90016199482,3 Bedroom,2,Condo,คอนโด,NaN,400.00,NaN,...,NaN,NaN,NaN,NaN,2022-05-20 13:30:04,2022-05-20 12:49:54,baania,https://baania.com/th/project/ทรีวิว-เย็นอากาศ...,2023-06-11,Bangkok
43355,17263,60488b2e582962001402e663,60488aeca8b9ee0013d7ebac,1 Bedroom,2,Condo,คอนโด,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2021-03-10 16:30:04,2021-03-10 16:07:33,baania,https://baania.com/th/project/เดอะ-ไพรเวซี่-พา...,2023-06-11,Bangkok

In [14]:
unit_df[unit_df['propertytype_name_en']=='Condo'].sort_values(by=['price_min']).iloc[:3,-1]

30708     Samut Prakan
922       Samut Prakan
1652     Nakhon Pathom
Name: province_en, dtype: object

### save table

In [15]:
condo = unit_df[unit_df['propertytype_name_en']=='Condo']
condo.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day,province_en
0,37586,unittype_35602,project_15270,Studio,2,Condo,คอนโด,NaN,30.00,3700000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:56,2020-10-14 20:21:01,baania,https://baania.com/th/project/ไลฟ์-แอท-รัชดา-ส...,2023-06-11,Bangkok
4,10907,unittype_8344,project_2821,2 Bedroom (ขายแล้ว),2,Condo,คอนโด,NaN,48.00,4200000.0,...,1.0,NaN,NaN,NaN,2021-11-12 13:24:53,2020-10-16 16:46:17,baania,https://baania.com/th/project/เดอะ-เทมโป-แกรนด...,2023-06-11,Bangkok
8,33884,unittype_36928,project_15818,1 Bedroom,2,Condo,คอนโด,NaN,49.00,3350000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:22:58,2020-10-14 20:24:11,baania,https://baania.com/th/project/ทองหล่อ-ทาวเวอร์...,2023-06-11,Bangkok
14,34574,unittype_37590,project_16368,4 Bedroom,2,Condo,คอนโด,NaN,170.00,15900000.0,...,NaN,NaN,NaN,NaN,2021-11-12 13:23:00,2020-10-14 20:27:19,baania,https://baania.com/th/project/จิวเวลรี่-เทรด-เ...,2023-06-11,Bangkok
16,39469,unittype_40049,project_17461,2 Bedroom,2,Condo,คอนโด,NaN,48.88,4700000.0,...,NaN,NaN,NaN,NaN,2023-05-11 16:00:05,2023-05-11 15:30:26,baania,https://baania.com/th/project/อะไรส์-รัชดา-19-...,2023-06-11,Bangkok

In [16]:
condo.to_csv('condo.csv')

In [17]:
condo.to_csv(os.path.join('/content/drive/MyDrive/DataViz23Data','condo.csv'))

### Groupby
https://www.kaggle.com/crawford/python-groupby-tutorial

In [18]:
unit_df.groupby('province_en').min()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
province_en,,,,,,,,,,,,,,,,,,,,,
Amnat Charoen,17121,5e58d724de70880012efe10e,5e58d382de70880012efe107,ทาวน์โฮมสองชั้น,1,Detached House,ทาวน์โฮม,NaN,94.00,1000000.0,...,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:19,2020-04-27 13:37:07,baania,https://baania.com/th/project/บ้านกรวิน-อำนาจเ...,2023-06-11
Ang Thong,39964,5e577417de70880012efde36,5e5771a2de70880012efde2c,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,2590000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:25:25,2020-11-09 14:01:10,baania,https://baania.com/th/project/บ้านฟ้าเคียงดาว-...,2023-06-11
Bangkok,1062,5e4a32fcfef8af00124adf84,5e5371f7b33a1500123c66b6,1 Bedroom,1,Apartment,คอนโด,1.0,16.00,130000.0,...,1.0,1.0,1.0,1.0,1.0,2020-12-04 10:39:24,2020-06-26 14:37:46,baania,https://baania.com/th/project/101-แมนชั่น-1505...,2023-06-11
Bung Kan,41443,5ea8f98f68253d0012adc04e,5ea8f74c68253d0012adc036,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,198.00,2890000.0,...,1.0,1.0,NaN,1.0,NaN,2021-11-12 13:18:43,2020-06-25 11:08:54,baania,https://baania.com/th/project/ฟินน์-บาย-คาวบอย...,2023-06-11
Buri Ram,16074,5e9d2efc9f161600121b605c,5e9d2e5e9f161600121b6054,1 Bedroom,1,Commercial,คอนโด,NaN,28.00,990000.0,...,1.0,1.0,1.0,1.0,1.0,2020-12-04 10:33:03,2020-04-24 13:58:29,baania,https://baania.com/th/project/คชา-2-นางรอง-5fb...,2023-06-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Trat,42726,5efeb440b285eb00194de037,5efeb2cbb285eb00194de02a,ทาวน์โฮมสองชั้น,1,Detached House,ทาวน์โฮม,NaN,93.00,1890000.0,...,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:55,2020-07-15 11:02:05,baania,https://baania.com/th/project/บ้านชมบัว-5f0581...,2023-06-11
Ubon Ratchathani,8862,5e56010bb33a1500123c6adf,5e55febab33a1500123c6add,1 Bedroom,1,Commercial,คอนโด,16.0,0.03,650000.0,...,1.0,1.0,1.0,1.0,1.0,2020-12-04 10:39:04,2019-01-24 09:54:47,baania,https://baania.com/th/project/กัลปพฤกษ์-แกรนด์...,2023-06-11
Udon Thani,8491,5e9d5d559f161600121b614d,5e9d5abd9f161600121b6120,1 Bedroom,1,Commercial,คอนโด,10.0,25.00,770000.0,...,1.0,1.0,1.0,1.0,1.0,2020-12-04 10:32:44,2019-08-15 16:50:15,baania,https://baania.com/th/project/กรีนแลนด์-อุดรธา...,2023-06-11
Uttaradit,20811,5e8d477f9f161600121b4c5d,5e8d44a29f161600121b4c4e,1 Bedroom,1,Condo,คอนโด,NaN,28.00,872000.0,...,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:23:51,2020-10-14 21:54:34,baania,https://baania.com/th/project/บีโฮม-3-อินใจมี-...,2023-06-11
Yasothon,20299,5ea6586878b3120012dd4ece,5ea6546778b3120012dd4eb7,Type A,1,Detached House,บ้าน,NaN,58.00,1290000.0,...,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:48:02,2020-10-21 10:53:22,baania,https://baania.com/th/project/ตาดทองกรีนวิว-5e...,2023-06-11

In [19]:
unit_df.groupby('province_en')['price_min'].min().head()

province_en
Amnat Charoen    1000000.0
Ang Thong        2590000.0
Bangkok           130000.0
Bung Kan         2890000.0
Buri Ram          990000.0
Name: price_min, dtype: float64

In [20]:
unit_df.groupby('province_en')['price_min'].min().reset_index()

         province_en  price_min
0      Amnat Charoen  1000000.0
1          Ang Thong  2590000.0
2            Bangkok   130000.0
3           Bung Kan  2890000.0
4           Buri Ram   990000.0
..               ...        ...
67              Trat  1890000.0
68  Ubon Ratchathani   650000.0
69        Udon Thani   770000.0
70         Uttaradit   872000.0
71          Yasothon  1290000.0

[72 rows x 2 columns]

### bonus 10 อันดับอสังหาริมทรัพย์ที่แพงที่สุดเป็นรายจังหวัด (10 จังหวัดแรก)

In [21]:
unit_df.groupby('province_en')['price_min'].max().reset_index().sort_values(by='price_min',ascending=False).head(10)

            province_en    price_min
2               Bangkok  580000000.0
10            Chon Buri  385000000.0
33           Nonthaburi  185000000.0
45               Phuket  169000000.0
63          Surat Thani  124000000.0
47  Prachuap Khiri Khan   85000000.0
34         Pathum Thani   84000000.0
27    Nakhon Ratchasima   80000000.0
54         Samut Prakan   73000000.0
25        Nakhon Pathom   59000000.0

### bonus 5 อันดับ Condo ที่แพงที่สุดเป็นรายจังหวัด (อันดับที่ 2-6 จังหวัดแรก)

In [23]:
# 5 อันดับคอนโดแพงสุดรายจังหวัด
unit_df[unit_df['propertytype_name_en']=='Condo'].groupby('province_en')['price_min'].max().reset_index().sort_values(by='price_min',ascending=False)

                 province_en    price_min
0                    Bangkok  580000000.0
6                  Chon Buri  200000000.0
27       Prachuap Khiri Khan   85000000.0
25                    Phuket   85000000.0
22               Phetchaburi   45000000.0
14         Nakhon Ratchasima   30000000.0
17                Nonthaburi   30000000.0
4                 Chiang Mai   29400000.0
29                    Rayong   27000000.0
39               Surat Thani   19000000.0
8                  Khon Kaen   12600000.0
9                      Krabi   10500000.0
33              Samut Prakan   10343200.0
7               Kanchanaburi    9900000.0
37                  Songkhla    7060000.0
18              Pathum Thani    5770000.0
15              Nakhon Sawan    5000000.0
13             Nakhon Pathom    3800000.0
43                Udon Thani    3790000.0
5                 Chiang Rai    3500000.0
24  Phra Nakhon Si Ayutthaya    3500000.0
42          Ubon Ratchathani    3000000.0
40                       Tak    2800000.0
30                    Roi Et    2800000.0
23               Phitsanulok    2608000.0
3                Chanthaburi    2550000.0
20                  Phangnga    2410000.0
1                   Buri Ram    2000000.0
10                   Lampang    1950000.0
34              Samut Sakhon    1900000.0
16       Nakhon Si Thammarat    1850000.0
41                     Trang    1840000.0
38               Suphan Buri    1590000.0
2               Chachoengsao    1500000.0
11                   Lamphun    1500000.0
12             Maha Sarakham    1480000.0
28                Ratchaburi    1450000.0
21                    Phayao    1350000.0
36                  Saraburi    1200000.0
19                   Pattani     999999.0
32              Sakon Nakhon     999000.0
26              Prachin Buri     999000.0
31                   Sa Kaeo     990000.0
44                 Uttaradit     872000.0
35           Samut Songkhram     411000.0